html, body, * {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* will not make a box increase w padding */
  /* dont change this */    
} 


/* .bgc{
  background-image:linear-gradient(225deg,rgb(0, 0, 174),rgb(79, 0, 79));
} */

.title{
  text-align:center;
  font-size:100px;
  color: rgb(98, 98, 98);
}

.container{
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card{
  width: 500px;
  height: 500px;
  border: 15px solid rgb(80, 0, 154);
  background-color: rgb(80, 0, 154);
  border-radius: 5%;
  display: flex;
  margin: 60px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


 .product-name {
  font-size: 600%;
  text-align: center;
  color: white;
} 

 .product-img {
  width: 300px;
  height: auto;
}
 .product-price {
  font-size: 300%;
  text-align: center;
  color: white;
}

.button-container{
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


button {
  width: 100px;
  height: 100px;
  margin: 5px; 
}

#cardthemeone {
  border: 15px solid rgb(0, 3, 85);
  background-color: rgb(0, 4, 124);

}

#cardthemetwo {
  border: 15px solid rgb(73, 0, 0);
  background-color: rgb(109, 0, 0);
}

.bg-theme-one {
  background-image: linear-gradient(225deg, rgb(0, 0, 97), rgb(0, 71, 178));
}
.bg-theme-two {
  background-image: linear-gradient(225deg, rgb(50, 0, 0), rgb(176, 0, 0));
}


